.log_20240325
__pycache__/*
cif/
cifs_output
list_pk.csv
reset_database.sql
trash/
config/computer.yml
src/aiida_raspa_EQeq.egg-info/*
src/aiida_raspa_EQeq/__pycache__/*
tests
src/__pycache__/
set_environment
set_environment_fish